<header class="header">
  <nav class="nav-container">
    <!-- <div class="logo">Logo</div> -->
    <ul class="nav-menu">
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/operation')"
        (click)="goToRoute('/operation')"
      >
        Operation
      </li>
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/report')"
        (click)="goToRoute('/report')"
      >
        Report
      </li>
    </ul>
    <h2>HRCC Coil Management System</h2>

    <ul class="nav-menu-right">
      <li class="user-greeting">
        Welcome, <span class="user-name">{{ getUserName() }}</span>
      </li>
      <!-- <li class="lo" (click)="logout()">Logout</li> -->

      <!-- <i id="lg" class="fa fa-sign-out" (click)="logout()></i> -->
      <i
        id="lg"
        class="fa fa-sign-out"
        (click)="logout()"
        role="button"
        tabindex="0"
        aria-label="Logout"
      >
      </i>

      <!-- Logout icon -->
    </ul>
  </nav>
</header>
