<header class="header">
  <nav class="nav-container">
    <!-- <div class="logo">Logo</div> -->
    <ul class="nav-menu">
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/operation')"
        (click)="goToRoute('/operation')"
      >
        Operation
      </li>
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/report')"
        (click)="goToRoute('/report')"
      >
        Report
      </li>
    </ul>

    <div class="flexh">
      <img class="logo" [src]="'assets/images/sail.png'" alt="" />
      <h2 class="header-title">HRCC Coil Management System</h2>
      <img class="logo" [src]="'assets/images/sail.png'" alt="" />
    </div>

    <ul class="nav-menu-right">
      <li class="user-greeting">
        Welcome, <span class="user-name">{{ getUserName() }}</span>
      </li>
      <li class="lo" (click)="logout()">
        <i
          id="lg"
          class="fa fa-sign-out"
          (click)="logout()"
          role="button"
          tabindex="0"
          aria-label="Logout"
        >
        </i>
      </li>

      <!-- <i id="lg" class="fa fa-sign-out" (click)="logout()></i> -->

      <!-- Logout icon -->
    </ul>
  </nav>
</header>
