<header class="header">
  <nav class="nav-container">
    <!-- <div class="logo">Logo</div> -->
    <ul class="nav-menu">
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/main/home')"
        (click)="goToRoute('/main/home')"
      >
        Home
      </li>
      <!-- <li
        class="nav-item nav-link"
        [class.active]="isActive('/main/services')"
        (click)="goToRoute('/main/services')"
      >
        Services
      </li>
      <li
        class="nav-item nav-link"
        [class.active]="isActive('/main/settings')"
        (click)="goToRoute('/main/settings')"
      >
        Settings
      </li> -->
    </ul>
  </nav>
</header>
