<body>
  <div class="container">
    <!-- Left Panel with welcome message -->
    <div class="left-panel">
      <h2>Welcome Back!</h2>
      <p>
        This software manages coil operations on saddles, allowing users to
        move, load, assign, and remove coils easily while tracking positions in
        real time.
      </p>
      <ul class="features">
        <li>
          <span class="material-icons">engineering</span> HRCC Coil Movement
          Operation
        </li>
        <li>
          <span class="material-icons">bolt</span> Fast & Responsive Interface
        </li>
        <li><span class="material-icons">description</span> Report</li>
      </ul>
    </div>

    <!-- Right Panel with login form -->
    <div class="right-panel">
      <div class="logo">
        <!-- <span class="material-icons">lock</span> -->
        <img class="logo1" [src]="'assets/images/sail.png'" alt="" />

        <h1>HRCC</h1>
      </div>

      <div class="welcome-text">
        <h2>Sign In</h2>
        <p>Enter your credentials to access the page</p>
      </div>

      <form id="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="userid">User ID</label>
          <div class="input-with-icon">
            <span class="material-icons">person</span>
            <input
              [ngModelOptions]="{ standalone: true }"
              type="text"
              [(ngModel)]="userid"
              id="userid"
              class="form-control"
              placeholder="Enter your user ID"
              required
            />
          </div>
          <div class="error-message" id="email-error">
            Please enter a valid user ID
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-with-icon">
            <span class="material-icons">vpn_key</span>
            <input
              [ngModelOptions]="{ standalone: true }"
              type="password"
              [(ngModel)]="password"
              id="password"
              class="form-control"
              placeholder="Enter your password"
              required
            />
          </div>
          <div class="error-message" id="password-error">
            Password must be at least 6 characters long
          </div>
        </div>

        <button type="submit" class="btn-login">Sign In</button>
      </form>
    </div>
  </div>

  <h4 id="safetyMessages">! {{ safetyMessages[safetyMessageIndex] }}</h4>

  <!-- Add this in index.html if not already -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</body>
