<div class="coil-info-card" *ngIf="coilInfo">
  <div class="cinfohead" style="display: flex; justify-content: space-between">
    <h4>Coil Information</h4>
    <h4>{{ coilInfo.SADDLENAME }}</h4>
  </div>

  <div class="coil-row"><span>Coil ID :</span> {{ coilInfo.COILID }}</div>

  <div class="coil-row">
    <span>HSM Prod Time :</span>
    {{ coilInfo.HSMPRODTIME | date : "dd-MM-yy HH :mm" }}
  </div>

  <div class="coil-row"><span>Heat NO :</span> {{ coilInfo.HEATNO }}</div>

  <div class="coil-row"><span>Slab ID :</span> {{ coilInfo.SLAB_ID }}</div>

  <div style="border-bottom: 1px dotted gray" class="coil-row">
    <span>CCS Grade :</span> {{ coilInfo.STEELGRADE }}
  </div>

  <div class="coil-row"><span>Thickness :</span> {{ coilInfo.THICK }} mm</div>

  <div class="coil-row"><span>Width :</span> {{ coilInfo.WIDTH }} mm</div>

  <div class="coil-row"><span>Weight :</span> {{ coilInfo.WEIGHT }} Ton</div>
  <div class="coil-row"><span>Length :</span> {{ coilInfo.LENGTH }} mm</div>
  <div class="coil-row">
    <span>Cool Time :</span> {{ coilInfo.HRCC_HR }} Hrs.
  </div>
  <div class="coil-row">
    <span>Destination :</span> {{ coilInfo.DESTINATON }}
  </div>
  <div class="coil-row"><span>Grade :</span> {{ coilInfo.GRADE }}</div>

  <div class="coil-row"><span>In Dia :</span> {{ coilInfo.IN_DIA }} mm</div>

  <div class="coil-row"><span>Out Dia :</span> {{ coilInfo.OUT_DIA }} mm</div>
</div>
