/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.grid-container {
   margin-right: 5px;
      width:90% ;
   display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14,1fr);
  gap: 10px;
//   background-color: #1e1e1e;
// margin: 10px;
  border-radius: 10px;
  height: 100%;
}

.grid-item {
  position: relative;
  cursor: pointer;
  background-color: #2c2c2c;
  border: 1px solid gold;
  color:gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  border: 2px solid gold;
}

.grid-item.desable {
   background-color: #7a7a7a;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  border: 2px solid rgb(111, 98, 24);
  cursor: not-allowed;
}

.overlay {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}
.tab{

}
.h{
border-bottom: 1px dotted black;
}
.q{
  border-left: 2px dotted  gold;
}
.d{

}

.fl{
    display: flex;
    height: 100%;
}