<div class="main">
  <div class="sadel_info">
    <div class="left">
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'A' }"
        (click)="selected = 'A'"
      >
        <div class="flex">
          <div>
            <h2>A</h2>
            <span class="percent">
              {{
                ((Astatuscount.LOADED / Astatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Astatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Astatuscount.EMPTY }}
            </p>
            <p>U : {{ Astatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>

      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'B' }"
        (click)="selected = 'B'"
      >
        <div class="flex">
          <div>
            <h2>B</h2>
            <span class="percent">
              {{
                ((Bstatuscount.LOADED / Bstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Bstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Bstatuscount.EMPTY }}
            </p>
            <p>U : {{ Bstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'C' }"
        (click)="selected = 'C'"
      >
        <div class="flex">
          <div>
            <h2>C</h2>
            <span class="percent">
              {{
                ((Cstatuscount.LOADED / Cstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Cstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Cstatuscount.EMPTY }}
            </p>
            <p>U : {{ Cstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'D' }"
        (click)="selected = 'D'"
      >
        <div class="flex">
          <div>
            <h2>D</h2>

            <span class="percent">
              {{
                ((Dstatuscount.LOADED / Dstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Dstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Dstatuscount.EMPTY }}
            </p>
            <p>U : {{ Dstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'E' }"
        (click)="selected = 'E'"
      >
        <div class="flex">
          <div>
            <h2>E</h2>
            <span class="percent">
              {{
                ((Estatuscount.LOADED / Estatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Estatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Estatuscount.EMPTY }}
            </p>
            <p>U : {{ Estatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'F' }"
        (click)="selected = 'F'"
      >
        <div class="flex">
          <div>
            <h2>F</h2>

            <span class="percent">
              {{
                ((Fstatuscount.LOADED / Fstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Fstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Fstatuscount.EMPTY }}
            </p>
            <p>U : {{ Fstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'G' }"
        (click)="selected = 'G'"
      >
        <div class="flex">
          <div>
            <h2>G</h2>

            <span class="percent">
              {{
                ((Gstatuscount.LOADED / Gstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Gstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Gstatuscount.EMPTY }}
            </p>
            <p>U : {{ Gstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'H' }"
        (click)="selected = 'H'"
      >
        <div class="flex">
          <div>
            <h2>H</h2>
            <span class="percent">
              {{
                ((Hstatuscount.LOADED / Hstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Hstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Hstatuscount.EMPTY }}
            </p>
            <p>U : {{ Hstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'I' }"
        (click)="selected = 'I'"
      >
        <div class="flex">
          <div>
            <h2>I</h2>
            <span class="percent">
              {{
                ((Istatuscount.LOADED / Istatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Istatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Istatuscount.EMPTY }}
            </p>
            <p>U : {{ Istatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
      <div
        class="alpha"
        [ngClass]="{ 'active-alpha': selected === 'X' }"
        (click)="selected = 'X'"
      >
        <div class="flex">
          <div>
            <h2>X</h2>
            <span class="percent">
              {{
                ((Xstatuscount.LOADED / Xstatuscount.TOTAL) * 100).toFixed(1)
              }}
              %
            </span>
          </div>

          <div class="count">
            <p style="background-color: #598bbf">
              L : {{ Xstatuscount.LOADED }}
            </p>
            <p style="background-color: #e5f2ff; color: rgb(56, 56, 56)">
              E : {{ Xstatuscount.EMPTY }}
            </p>
            <p>U : {{ Xstatuscount.UNFIT }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right" [ngSwitch]="selected">
      <ng-container *ngIf="selectedComponent; else defaultMsg">
        <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
      </ng-container>
      <ng-template #defaultMsg>
        <p>Select a letter</p>
      </ng-template>
    </div>
  </div>
</div>
