<div class="stats-card">
  <div class="stat-item">
    <span class="label"> -</span>
    <span class="label">1st High</span>
    <span class="label">2nd High</span>
    <span class="label">Total</span>
  </div>
  <div class="stat-item">
    <span class="label">Coils</span>
    <span class="value">{{ total_coil }}</span>
    <span class="value">{{ total_coil }}</span>
    <span class="value">{{ total_coil }}</span>
  </div>

  <div class="stat-item">
    <span class="label">Weight</span>
    <span class="value">{{ total_weight }}</span>
    <span class="value">{{ total_weight }}</span>
    <span class="value">{{ total_weight }}</span>
  </div>
</div>
