.stats-card {
  display: flex;
  gap: 24px;
  padding: 16px 24px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: fit-content;

  position: fixed;
  bottom: 55px;
  right: 10px; /* or right: 20px */
}

.stat-item {
  display: flex;
  flex-direction: column;
  //   min-width: 140px;
}

.label {
  font-size: 13px;
  color: #6b7280; /* gray */
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.value {
  font-size: 15px;
  font-weight: 600;
  color: #111827; /* dark */
}
